# python & env
__pycache__/
*.pyc
.DS_Store
.env
.vscode/
.idea/
.venv/
venv/

# data
data/raw/
data/tmp/
*.parquet
*.pkl

# large artifacts
models/
outputs/
logs/

# Jupyter
.ipynb_checkpoints/

# OS cruft
Thumbs.db
